body {
    text-align: center;
}

#score {
    font-weight: bold;
}

#gameContainer {
    width: 300px;
    height: 300px;
    border: 1px solid #000;
    position: relative;
    overflow: hidden;
    margin: auto;
}

#mole {
    width: 50px;
    height: 50px;
    background-color: brown;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    cursor: pointer;
}
